.Banner-container {
  top: 70px;
  width: 100%;
}
.Banner {
  background: #03a685;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 850px) {
  .Banner-container {
    display: none;
  }
}
